<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GGDataDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA46A33B1CAB99D1006931CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA46A3541CAB99D2006931CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA46A35F1CAB99D2006931CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
